.taxonomy-categorie_item, .taxonomy-format_item, .taxonomy-order_item {
    font-family: 'Poppins';
    font-size: 0.8rem;
    font-weight: 500;
    color: black;
    line-height: 21px;
    border-radius: 8px;
    padding: 11px;
    width: 250px;
    margin: 11px;
}

.filtres {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.filtres-taxo {
    display: flex;
}