
.header-motaphoto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    @media (max-width: $mobile-breakpoint) {
        width: 100%;
    }
    img {
        width: 216px;
        margin-left: 80%;
        @media (max-width: $mobile-breakpoint) {
            width: 140px;
            margin: 10px;
        }
    }
    nav {
    font-family: 'Space Mono';
    font-size: 14px;
    font-weight: 400;
    color: black;
    text-transform: uppercase;
    margin-right: 9%;
       ul {
        display: flex; 
        flex-direction: row;
        list-style-type: none;
        li {
            margin-right: 10px;
            margin-left: 10px;
            a {
                text-decoration: none;
                color: black;
            }
            a:hover {
                font-weight: 700;
                color: black;
            }
        }
    }
}
}

.photo-hero {
    width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("../images/nathalie-11.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 1;
        h1 {
        letter-spacing: 2px;
        text-transform: uppercase;
        margin: 0 auto;
        -webkit-text-stroke: 3px white;
        filter:url(#stroke-text-svg-filter);
        @media (max-width: $mobile-breakpoint) {
            text-align: center;
            -webkit-text-stroke: 1px white;
        }
    }
   
}
