.lightbox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; 
    z-index: 1;
    background-color: rgba(49, 49, 68, 0.8);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lightbox-close {
    position: absolute;
    color: white;
    font-size: 2rem;
    right:5%;
    top:2%;
}

.lightbox-popup {
    width: 80vw;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.lightbox-photo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
img{
   width: 83%;
}

.lightbox-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.lightbox-arrow-precedent, .lightbox-arrow-suivant {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    p {
        color: white;
        font-family: 'Space Mono';
        padding: 0 12px;
        &:hover{
            font-weight: 700;
        }
    }
}

.arrow-precedent, .arrow-suivant {
transition: all ease-in-out 300ms;
    &:hover {
    transform: scaleX(1.2) scaleY(1);
    }
}

.lightbox-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    color: white;
    font-family: 'Space Mono';
    text-transform: uppercase;
    margin-top: 11px;
}

.lightbox-details_ref {
    margin-left: 30px;
}