.lightbox-overlay {
    position: relative;
    width: 100vw;
    height: 100vh; 
    transform: translate(-50%, -20%);
    z-index: 1;
    background-color: rgba(49, 49, 68, 0.8);
    display: none;
}

.lightbox-close {
    position: absolute;
    color: white;
    font-size: 2rem;
    right:5%;
}

.lightbox-popup {
    width: 80vw;
    margin: 0 auto; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.lightbox-arrow-precedent, .lightbox-arrow-suivant {
    display: flex;
    flex-direction: row;
    p {
        color: white;
        font-family: 'Space Mono';
        padding: 0 12px;
    }
}

.arrow-precedent, .arrow-suivant {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightbox-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    p {
        color: white;
        font-family: 'Space Mono';
    }
}