.photo-block {
    display: flex;
    flex-direction: column;}

.photo-block-photo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    
    .image-block {
        width: 564px;
        height: 495px;
        object-fit: cover;
        transition: all ease-in-out 200ms;
        &:hover {
            transform: scale(0.9);
        }
    }

   
}
.photo-block-boutton {
    display: flex;
    justify-content: center;
}
#plus-de-photo {
    background-color: $grayMedium; 
    border-radius: 2px;
    width: 263px;
    height: 50px;
    border: none;
    font-family: 'Space Mono';
    font-size: 0.8rem;
    box-shadow: 0px 2px 1px #B8BBC2;
    margin: 8%; 
    transition: all ease-in-out 300ms;
    &:hover {
        font-weight: 700;
        background-color: $redMedium;
        transform: scale(1.1);
    }
    }
