.photo-block {
    display: flex;
    flex-direction: column;
}

.photo-block-photo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    z-index: 0;

    @media (max-width: $mobile-breakpoint) {
        flex-direction: column;
    }
}

.photo-item {
    position: relative;
    display: inline-block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 97%;
    margin-top: 2%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
}

.photo-item:hover .overlay {
    opacity: 1;
}

.fa-eye {
    font-size: 40px;
    color: $grayMLight;
    margin: 10px;
}

.fa-expand {
    color: $grayMLight;
    position: absolute;
    right: 3px;
    top: 3px;
    background-color: black;
    font-size: 24px;
    padding: 10px;
    margin: 10px;
    border-radius: 100px;

    &:hover {
        cursor: pointer;
    }
}

.photo-block-boutton {
    display: flex;
    justify-content: center;

    @media (max-width: $mobile-breakpoint) {
        display: block;
    }
}

#plus-de-photo {
    background-color: $grayMedium;
    border-radius: 2px;
    width: 263px;
    height: 50px;
    border: none;
    font-family: 'Space Mono';
    font-size: 0.8rem;
    box-shadow: 0px 2px 1px #B8BBC2;
    margin: 40px 0 50px 0;
    transition: all ease-in-out 300ms;

    &:hover {
        font-weight: 700;
        background-color: black;
        transform: scale(0.95);
        color: $grayMLight;
    }
}
