.single-photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    }

.single-photo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
    width: 80%;
    margin-bottom: 2%;
    }

.single-photo__info {
    border-bottom: solid 1px black ;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-right: 1%;
    padding-right: 21%;
    p, h2 {
    text-transform: uppercase;
    }
    a {
        text-decoration: none;
        color: black;
    }
}

.single-photo__image {
    width: 50vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    img {
    max-height: 100%;
    object-fit: contain;
    }
}

.single-photo-interaction {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    margin-bottom: 2%;
    .interesse {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin-right: 2%;
    button {
    margin-left: 7%;
    background-color: $grayMedium; 
    border-radius: 2px;
    width: 263px;
    height: 50px;
    border: none;
    font-family: 'Space Mono';
    font-size: 0.8rem;
    box-shadow: 0px 2px 1px #B8BBC2;
    }
    button:hover{
        font-weight: 700;
        background-color: $redLight;
    }
    }
    .navigation{
        width: 50%;
    }
}