.single-photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
        }

.single-photo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
    width: 80%;
    @media (max-width: $mobile-breakpoint) {
        flex-direction: column;
    }
    }

.single-photo__info {
    border-bottom: solid 1px black ;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-right: 1%;
    padding-right: 12%;
    p, h2 {
    text-transform: uppercase;
    }
    a {
        text-decoration: none;
        color: black;
    }
    @media (max-width: $mobile-breakpoint) {
        width: auto;
        margin: 0;
        padding: 0;
        border: none;
    }
}

.single-photo__image {
    width: 50vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    img {
    max-height: 100%;
    object-fit: contain;
    }
    @media (max-width: $mobile-breakpoint) {
        display:none;
    }
}

.single-photo__image-responsive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    img {
        width: 105%;
        height: auto;
        object-fit: contain;
        }
    @media (min-width: $mobile-breakpoint) {
        display:none;
        }
}

.single-photo-interaction {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 188px;
    border-bottom: solid 1px black ;
    @media (max-width: $mobile-breakpoint) {
        width: 110%;
        height: 150px;
        border-top: solid 1px black ;
    }

    .interesse {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin-right: 2%;
    button {
    margin-left: 7%;
    background-color: $grayMedium; 
    border-radius: 2px;
    width: 263px;
    height: 50px;
    border: none;
    font-family: 'Space Mono';
    font-size: 0.8rem;
    box-shadow: 0px 2px 1px #B8BBC2;
    transition: all ease-in-out 300ms;
    @media (max-width: $mobile-breakpoint) {
        margin-top: 2%;
    }
    &:hover {
        font-weight: 700;
        background-color: black;
        transform: scale(0.95);
        color: $grayMLight;
    }
    }
    @media (max-width: $mobile-breakpoint) {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    }

    .navigation{
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: right;
        height: 170px;
        align-items: end; 
        @media (max-width: $mobile-breakpoint) {
            display:none;
        }       
        .miniature {
            display: flex;
            flex-direction: column;
        }
        .miniature-prev, .miniature-next {
            display: none;
        }
        
        .miniature-fleche {
            display: flex; 
            flex-direction: row;
            justify-content: space-between;
            width: 150px;
            margin-top: 3px;
            position: relative;
            z-index: 0;
        }     

        .arrow-prev {
            transition: all ease-in-out 300ms;
                &:hover {
                transform: scaleX(1.2) scaleY(1);
                }
        }
        .arrow-next {
            transition: all ease-in-out 300ms;
                &:hover {
                transform: scaleX(1.2) scaleY(1);
                }
        }

        }      
}
.aussi {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 80vw;
    h3{
    text-align: left;
    text-transform: uppercase;
    @media (max-width: $mobile-breakpoint) {
        text-align: center;
    }
    }
}