$red: #E00000; 
$redMedium:#FE5858; 
$redLight: #FFD6D6; 
$blueNavy: #313144; 
$gray: #C4C4C4;  
$grayMedium: #D8D8D8; 
$grayMLight: #E5E5E5; 

$mobile-breakpoint: 768px; 

:root {
    --background-image: url("./images/nathalie-0.webp");
}

$backGroundImage : var(--background-image);