@charset "UTF-8";
:root {
  --background-image: url("./images/nathalie-0.webp");
}

@font-face {
  font-family: "Space Mono";
  src: local("Space Mono"), local("Space_Mono"), url(../fonts/Space_Mono/SpaceMono-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins"), local("Poppins"), url(../fonts/Poppins/Poppins-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
.header-motaphoto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
@media (max-width: 768px) {
  .header-motaphoto {
    width: 100%;
  }
}
.header-motaphoto img {
  width: 216px;
  margin-left: 80%;
}
@media (max-width: 768px) {
  .header-motaphoto img {
    width: 140px;
    margin: 10px;
  }
}
.header-motaphoto nav {
  font-family: "Space Mono";
  font-size: 14px;
  font-weight: 400;
  color: black;
  text-transform: uppercase;
  margin-right: 9%;
}
.header-motaphoto nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.header-motaphoto nav ul li {
  margin-right: 10px;
  margin-left: 10px;
}
.header-motaphoto nav ul li a {
  text-decoration: none;
  color: black;
}
.header-motaphoto nav ul li a:hover {
  font-weight: 700;
  color: black;
}

.menu-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  height: 60px;
}
.menu-footer nav, .menu-footer p {
  display: flex;
  flex-direction: row;
  font-family: "Space Mono";
  font-size: 14px;
  font-weight: 400;
  color: black;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .menu-footer nav, .menu-footer p {
    font-size: 10px;
    line-height: 0;
  }
}
.menu-footer nav ul, .menu-footer p ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
}
.menu-footer nav ul li, .menu-footer nav ul p, .menu-footer p ul li, .menu-footer p ul p {
  margin-right: 10px;
  margin-left: 10px;
}
.menu-footer nav ul li a, .menu-footer nav ul p a, .menu-footer p ul li a, .menu-footer p ul p a {
  text-decoration: none;
  color: black;
}
.menu-footer nav ul li a:hover, .menu-footer nav ul p a:hover, .menu-footer p ul li a:hover, .menu-footer p ul p a:hover {
  font-weight: 700;
  color: black;
}

.popup-overlay {
  position: absolute;
  width: 100%;
  height: 97%;
  display: none;
  justify-content: center;
  align-items: center;
  top: 54.4%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: rgba(49, 49, 68, 0.5);
}

.popup-close {
  position: relative;
}

.popup-contact {
  width: 36%;
  background: white;
  border: solid 5px black;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
@media (max-width: 768px) {
  .popup-contact {
    width: 65%;
  }
}

.popup-header img {
  width: 150%;
  position: relative;
  top: 50%;
  left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, 3%); /* décalage de 50% de sa propre taille */
  margin-bottom: 1.5rem;
}

.popup-formulaire form {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.popup-formulaire p {
  color: #313144;
  font-weight: 500;
  margin: 1rem;
}
@media (max-width: 768px) {
  .popup-formulaire p {
    font-size: 0.8rem;
    margin: 0.5rem;
  }
}

.fenetre input {
  border: solid 1px #B8BBC2;
  border-radius: 8px;
  height: 40px;
}
@media (max-width: 768px) {
  .fenetre input {
    width: 200px;
  }
}

.fenetre textarea {
  border: solid 1px #B8BBC2;
  border-radius: 8px;
  height: 210px;
}
@media (max-width: 768px) {
  .fenetre textarea {
    height: 50px;
    width: 200px;
  }
}

.btn {
  background-color: #D8D8D8;
  border-radius: 2px;
  width: 263px;
  height: 50px;
  padding: 8px, 15px;
  margin: 0 auto;
  border: none;
  font-family: "Space Mono";
  font-size: 0.8rem;
  box-shadow: 0px 2px 1px #B8BBC2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: all ease-in-out 300ms;
}
.btn:hover {
  font-weight: 700;
  background-color: black;
  transform: scale(0.95);
  color: #E5E5E5;
}
@media (max-width: 768px) {
  .btn {
    width: 150px;
  }
}

.single-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.single-photo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: end;
  width: 80%;
}
@media (max-width: 768px) {
  .single-photo-container {
    flex-direction: column;
  }
}

.single-photo__info {
  border-bottom: solid 1px black;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-right: 1%;
  padding-right: 12%;
}
.single-photo__info p, .single-photo__info h2 {
  text-transform: uppercase;
}
.single-photo__info a {
  text-decoration: none;
  color: black;
}
@media (max-width: 768px) {
  .single-photo__info {
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
  }
}

.single-photo__image {
  width: 50vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}
.single-photo__image img {
  max-height: 100%;
  object-fit: contain;
}
@media (max-width: 768px) {
  .single-photo__image {
    display: none;
  }
}

.single-photo__image-responsive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}
.single-photo__image-responsive img {
  width: 105%;
  height: auto;
  object-fit: contain;
}
@media (min-width: 768px) {
  .single-photo__image-responsive {
    display: none;
  }
}

.single-photo-interaction {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 188px;
  border-bottom: solid 1px black;
}
@media (max-width: 768px) {
  .single-photo-interaction {
    width: 110%;
    height: 150px;
    border-top: solid 1px black;
  }
}
.single-photo-interaction .interesse {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin-right: 2%;
}
.single-photo-interaction .interesse button {
  margin-left: 7%;
  background-color: #D8D8D8;
  border-radius: 2px;
  width: 263px;
  height: 50px;
  border: none;
  font-family: "Space Mono";
  font-size: 0.8rem;
  box-shadow: 0px 2px 1px #B8BBC2;
  transition: all ease-in-out 300ms;
}
@media (max-width: 768px) {
  .single-photo-interaction .interesse button {
    margin-top: 2%;
  }
}
.single-photo-interaction .interesse button:hover {
  font-weight: 700;
  background-color: black;
  transform: scale(0.95);
  color: #E5E5E5;
}
@media (max-width: 768px) {
  .single-photo-interaction .interesse {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
.single-photo-interaction .navigation {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  height: 170px;
  align-items: end;
}
@media (max-width: 768px) {
  .single-photo-interaction .navigation {
    display: none;
  }
}
.single-photo-interaction .navigation .miniature {
  display: flex;
  flex-direction: column;
}
.single-photo-interaction .navigation .miniature-prev, .single-photo-interaction .navigation .miniature-next {
  display: none;
}
.single-photo-interaction .navigation .miniature-fleche {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150px;
  margin-top: 3px;
  position: relative;
  z-index: 0;
}
.single-photo-interaction .navigation .arrow-prev {
  transition: all ease-in-out 300ms;
}
.single-photo-interaction .navigation .arrow-prev:hover {
  transform: scaleX(1.2) scaleY(1);
}
.single-photo-interaction .navigation .arrow-next {
  transition: all ease-in-out 300ms;
}
.single-photo-interaction .navigation .arrow-next:hover {
  transform: scaleX(1.2) scaleY(1);
}

.aussi {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 80vw;
}
.aussi h3 {
  text-align: left;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .aussi h3 {
    text-align: center;
  }
}

.photo-block {
  display: flex;
  flex-direction: column;
}

.photo-block-photo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  z-index: 0;
}
@media (max-width: 768px) {
  .photo-block-photo {
    flex-direction: column;
  }
}

.photo-item {
  position: relative;
  display: inline-block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
}

.photo-item:hover .overlay {
  opacity: 1;
}

.fa-eye {
  font-size: 40px;
  color: #E5E5E5;
  margin: 10px;
}

.fa-expand {
  color: #E5E5E5;
  position: absolute;
  right: 3px;
  top: 3px;
  background-color: black;
  font-size: 24px;
  padding: 10px;
  margin: 10px;
  border-radius: 100px;
}

.image-block {
  width: 500px;
  height: 500px;
  object-fit: cover;
}
@media (max-width: 768px) {
  .image-block {
    width: 328px;
    height: 300px;
  }
}

.photo-block-boutton {
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .photo-block-boutton {
    display: block;
  }
}

#plus-de-photo {
  background-color: #D8D8D8;
  border-radius: 2px;
  width: 263px;
  height: 50px;
  border: none;
  font-family: "Space Mono";
  font-size: 0.8rem;
  box-shadow: 0px 2px 1px #B8BBC2;
  margin: 8%;
  transition: all ease-in-out 300ms;
}
#plus-de-photo:hover {
  font-weight: 700;
  background-color: black;
  transform: scale(0.95);
  color: #E5E5E5;
}

.hero {
  width: 100%;
  height: 100vh;
  position: relative;
}

.hero__title {
  width: 65%;
  position: absolute;
  left: 50%; /* Centre le titre horizontalement */
  bottom: 50%;
  transform: translate(-50%, 50%); /* Centre le titre horizontalement */
  z-index: 1;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-text-stroke: 3px white;
  filter: url(#stroke-text-svg-filter);
}
@media (max-width: 768px) {
  .hero__title {
    text-align: center;
    -webkit-text-stroke: 1px white;
  }
}

.hero__image {
  position: relative;
  display: inline-block;
  z-index: 0;
}

.image_hero {
  width: 100vw;
  height: 95vh;
  object-fit: cover;
}

.photo-catalogue {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 75vw;
  margin: 0 auto;
}

.image-catalogue {
  width: 600px;
  height: 600px;
  object-fit: cover;
  margin-top: 2%;
}
@media (max-width: 768px) {
  .image-catalogue {
    width: 300px;
    height: 300px;
  }
}

.overlay-catalogue {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 97.5%;
  margin-top: 2%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
}

.photo-item:hover .overlay-catalogue {
  opacity: 1;
}

.photo-catalogue-boutton {
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .photo-catalogue-boutton {
    display: block;
  }
}

#charger-plus {
  background-color: #D8D8D8;
  border-radius: 2px;
  width: 263px;
  height: 50px;
  border: none;
  font-family: "Space Mono";
  font-size: 0.8rem;
  box-shadow: 0px 2px 1px #B8BBC2;
  margin: 8%;
  transition: all ease-in-out 300ms;
}
#charger-plus:hover {
  font-weight: 700;
  background-color: black;
  transform: scale(0.95);
  color: #E5E5E5;
}

body {
  color: black;
  margin: 0;
}

h1 {
  font-family: "Space Mono";
  font-style: italic;
  font-size: 6rem;
  font-weight: 700;
  line-height: 142px;
}
@media (max-width: 768px) {
  h1 {
    font-size: 1.75rem;
  }
}

h2 {
  font-family: "Space Mono";
  font-style: italic;
  font-size: 4.1rem;
  font-weight: 400;
}
@media (max-width: 768px) {
  h2 {
    font-size: 2.8rem;
  }
}

h3 {
  font-family: "Space Mono";
  font-size: 1.1rem;
  font-weight: 400;
}
@media (max-width: 768px) {
  h3 {
    font-size: 1.1rem;
  }
}

.description_photo {
  font-family: "Space Mono";
  font-size: 1rem;
  font-weight: 400;
  color: black;
}

p {
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 300;
  color: black;
  line-height: 21px;
}

/*# sourceMappingURL=motaphoto.css.map */
